[2014-07-14 23:26] Nathan219 opened #3 "hasProps(obj, 'build') doesnt work.. requires array?"

[2014-09-04 18:51] tjmehta opened #4 "pluck should be able to pluck multiple keys"
var obj = {foo:1, bar:2, baz:3, yolo:4}
pluck(obj, 'foo', 'bar', 'baz') -> {foo:1, bar:2, baz:3}

[2014-09-19 19:10] tjmehta opened #5 "matches"
thoughts: accept an object that takes keypaths and regexp values too.

[2014-11-24 18:00] fernandoacorreia opened #6 "Broken examples in README"
The examples for `apply` mention `and`.

The examples for `equals` mention `exists`.

[2014-11-24 19:14] #6 closed, assigned to nobody

[2014-11-24 20:18] reggi opened #15 "package.json's main index.js"
There is no `index.js` file, but the `package.json` file references it as `main`.

[2014-11-24 22:51] k4b7 opened #16 "Add a "compose" function"
Great library.  "compose" would be good.  ~~Maybe "pipe" too so that you send values through a series of functions.~~

[2014-11-25 00:01] totty90 opened #17 "Support requirejs"

[2014-11-25 05:07] #4 closed, assigned to nobody

[2014-11-25 05:07] #3 closed, assigned to nobody

[2014-11-25 06:39] #15 closed, assigned to nobody

[2014-11-25 09:08] esamattis opened #21 "Add assign (extend)"
Basically a polyfil for https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign

[2014-11-25 09:23] cihadturhan opened #22 "Last does not guarantee the last element"
This is a bug I came across in a project.

I implemented my own `.last()` method, then. I realized the problem is, using `Object.keys()` method returns different array for different browser. Generally browsers tend to return the order as the indexes inserted by it's better not to trust it.

Maybe it's better to sort alphabetically and return the last result [here](https://github.com/tjmehta/101/bl

[2014-11-25 09:45] dy opened #23 "Additional checkings"
Hi! Very nice lib, I like the way it is included.
Im't thinking to replace [mutype](https://github.com/dfcreative/mutype) with 101 in all depending projects, but 101 still lacks of some, I believe, useful checks:
- `has(obj, property)` — a faster check than `.hasOwnProperty` (http://jsperf.com/hasownproperty-vs-in-vs-undefined/12).
- `isNumber` — to avoid `typeof a === 'number'` (useful for closur

[2014-11-25 17:00] jdalton opened #25 "Your marketing on Lo-Dash and size is incorrect."
That's not entirely accurate. Underscore doesn't support custom builds and Lo-Dash provides module bundles for [AMD](https://github.com/lodash/lodash-amd/tree/2.4.1) & [Node](https://npmjs.org/package/lodash-node) as well as [npm packages](https://npmjs.org/browse/keyword/lodash-modularized).

Lo-Dash 3.0 will also officially support [ES6 modules](https://github.com/lodash/lodash-es6) as well as p

[2014-11-25 20:12] #25 closed, assigned to nobody

[2014-11-25 21:30] reggi opened #26 "Returning module exports"
This isn't an issue, just a question:

@tjmehta  Is there any reason you're returning module exports like this?

[code]

Why not this?

[code]

or this?

[code]

or this?

[code]

or this?

[code]

I'm not trying to sound snobby or anything. I know people have many different preferred ways of doing things. I was just wondering if there was a specific reason for doing so. It seems weird to use the

[2014-11-25 22:48] ramesaliyev opened #27 "forEach, map, filter etc. functions for older platforms?"
I didnt see any manifesto about supportting or not supporting older platforms, are theese functions will/can be in 101?

[2014-11-26 18:46] #26 closed, assigned to nobody

[2014-11-27 06:32] #27 closed, assigned to nobody

[2014-12-02 08:07] #16 closed, assigned to nobody

[2014-12-15 07:14] #23 closed, assigned to nobody

[2014-12-15 08:29] #21 closed, assigned to nobody

[2014-12-15 08:31] #22 closed, assigned to nobody

[2014-12-17 20:43] tomekwi opened #36 "Add a `flip()` function"
I've been reading issue #16 (closed now), and just wanted to bump the idea of having a `flip()` function.

The original proposition by @jfsiii:

## Why it's great

In addition to the arguments posted already, I see one great use case – currying right-hand-side arguments.

In the JS world this is common: `doGreatStuff(target, options)`. A function with optional arguments or an `options` object list

[2014-12-17 20:48] tomek-he-him opened #37 "Add `mapObject()` and/or `mapObjectDeep()`"
- [Mapping an object.](https://www.npmjs.com/package/map-obj)
- [Mapping an object deeply.](https://www.npmjs.com/package/map-object-recursive)

Functional programming has always liked arrays. But objects are no less powerful, especially in the everything-is-an-object world of JavaScript.

I've been using these two a lot lately. What do you think?

[2014-12-20 18:30] tomekwi opened #38 "Consider building as ES6 modules."
##### Why

You've reached a conclusion in #17, that AMD is fairly compatible with CommonJS – you can use one within the other or transpile one to the other. That's not the case with ES6 modules. They are designed to be statically analysable (without executing the code) – so there are things impossible to transpile. Such as:

[code]

##### How

Looking by the simplicity of your modules, it should b

[2014-12-23 14:06] #37 closed, assigned to nobody

[2015-01-06 15:46] tomekwi opened #42 "Consider authoring in ES6"
It's another idea than #38. Author in ES6, transpile to a universal module format for node, AMD and the browser.

[The original idea came from Ryan Florence some time ago](http://ryanflorence.com/2013/es6-modules-and-browser-app-delivery/). I've followed his advice in [tomekwi/as.js](https://github.com/tomekwi/as.js). The technology is still quite rough, but everything seems work smoothly.

[2015-01-07 19:59] tjmehta commented on #42
Cool, thanks I will check this iut

—@tjmehta
Typed using my thumbs..

On Tue, Jan 6, 2015 at 7:46 AM, Tomek Wiszniewski
<notifications@github.com> wrote:

[2015-01-08 15:35] jrf0110 opened #45 "npm test should use local ./node_modules instead of assuming global"
[code]

That way one can simply `npm install` to run the tests

[2015-01-08 17:34] tjmehta commented on #45
Npm scripts can read binaries from node_modules, did you see it not working?

[2015-01-08 17:54] jrf0110 commented on #45
ahh I didn't realize that - I tried it out previously, but must have unknowingly derped the command somehow and misattributed the cause!

[2015-01-08 17:54] #45 closed

[2015-02-04 17:08] tristaaan commented on #5
Should this return a list of objects that match(1) or a list of values from the objects that match(2)?
[code]

[2015-02-09 08:16] tomekwi opened #49 "Could `set` accept a function?"
Is it possible to bend `set` to set properties through a function? I mean like:

[code]

[2015-02-09 08:19] tomekwi commented on #49
Maybe `set(markdown, "html")` – that should be backwards compatible.

[2015-02-09 08:19] tomekwi commented on #49
I'll be happy to code it if you give the green light @tjmehta.

[2015-02-09 08:42] tjmehta commented on #49
IMO overloading this function make it's less elegant and easy to understand.

It's easy to get carried away with overloading functions with functional behavior.
Sometimes writing out the implementation is easier to follow in this case::
[code]

What do you think?

[2015-02-09 08:50] tomekwi commented on #42
One more thought. Reading that

– maybe we could branch out an experimental 2.0.x branch, tailored to ES6? Without the cruft which already comes bundled in ES6 (like `find` or `assign`)?

This could be used as it is in ES6 projects, and optionally compiled to ES5. [6to5](http://6to5.org) does a great job with that.

If you're interested, you can have a look at [tomekwi/mithril-n](https://github.co

[2015-02-09 08:57] tomekwi commented on #49
Well yeah, that's what I did in the end.

Or rather, loving the immutability of `set`:
[code]

I've just had the impression that `set` could be more useful when mapping. At the moment its only use seems to be setting some property to the same value in all items. Just what you've shown in the example.

[2015-02-09 09:00] stoeffel opened #52 "or doesn't return boolean"
As the jsdoc of `or` states, `or` should return a boolean.
[code]
But it returns the value passed to the function, if it is thruthy.
[code]

I have a PR ready if you want to change this behaviour.

[2015-02-09 09:03] tomekwi commented on #49
But I must admit it seems less elegant, the way I proposed.

How about making it an optional `options` argument at the beginning? Like
[code]

[2015-02-09 09:10] tjmehta commented on #49
I definitely like the idea. I even considered just assuming a a function as a value in set is a transform function. What about a separate method all-together, like setMap or something?

[2015-02-09 09:15] tomekwi commented on #49
Well, as you wish :)

I guess I'd like the `options` more as it's more concise – but it does bring its own problems along as well.

[2015-02-09 09:24] tjmehta commented on #49
Yeah, I am not a fan of options objects, unless it's a last resort for a powerful function. I think rigidity of arguments leads to less usage confusion, and a simpler implementation.

[2015-02-09 09:26] tomekwi opened #53 "Idea: `compose` could accept an array of functions"
One use case:

[code]

[2015-02-09 09:31] tomekwi commented on #49
I'll do it just as you wish :)

Now for the name, I'd go for something more generic. Because `.map` may not be the only use. Like  `setThrough` or `setVia`.

What do you think?

[2015-02-09 09:35] tjmehta commented on #49
How about key-map or keypath-map?

[....].map(keypathMap({
  'foo.bar': compose(markdown, pluck('string'))
});

[2015-02-09 09:38] tomekwi commented on #49
I've just had another idea for that – in reference to #53.

[code]

That would pipe every item through

[code]

`noop` would need to be changed a little to `function () {return arguments[0];}`, which should also be backwards compatible. Another way would be to use `null` as an idiom for that.

Maybe we could avoid stuffing another function to 101 and an options object altogether.

[2015-02-09 09:39] tomekwi commented on #49
I like the idea of `keyMap` as well :)

[2015-02-09 10:08] stoeffel commented on #53
I think this use case is to specific. But I would like to have a `composeN` function where you could pass more then two functions. So you can create a new function like this: `composeN(f, g, h, i) === f(g(h(i)))`. This would be more generic IMHO.

[2015-02-09 10:13] tomekwi opened #54 "`set` doesn't support keypaths"
As of 101@0.9.0:

[code]

Maybe that's intended – but [the docs](https://github.com/tjmehta/101#set) say:

[2015-02-09 10:21] tomekwi commented on #53
@stoeffel isn't it already so? The problem with both: you can only use functions which take one argument.

I meant a generic way to overcome this:
[code]

[2015-02-09 11:03] stoeffel commented on #53
Nope.

Yes, you can only use functions which take one argument, but this is how I expect a compose function to work. Checkout other libs (i.e. lodash). Maybe a new function for your use case would be better. How about `branch`?

[2015-02-09 11:33] tomekwi commented on #53
So again it looks the discussion between overloading and separate functions. I'd go for overloading both your proposal @stoeffel and the `branch` functionality into `compose`.

Perhaps @tjmehta can chime in?

[2015-02-09 12:15] tomekwi commented on #52
Maybe it just mimics the `||`?

[code]

[2015-02-09 12:17] tomekwi commented on #52
Then we should change the docs to
[code]

[2015-02-09 16:07] stoeffel commented on #53
In my opinion this should be two different functions, since they do two different things. One composes a function and one converge multiple functions to one. But the last word has @tjmehta :smile_cat:

[2015-02-09 22:08] tristaaan commented on #5
Nevermind, just saw that I was describing `pick` with regex.

[2015-02-10 00:39] tjmehta commented on #53
Quick thoughts for now, I definitely see the scenario shown by @tomekwi's example.
I don't know if overloading the compose function is the right solution here. Reading the
code I would not necessarily understand what behavior the array is producing.
I also think that functions other than compose may be benefited with some transform argument behavior.

Just throwing this out there for discussion:
Y

[2015-02-10 00:47] tjmehta commented on #52
@stoeffel the jsdoc is wrong, but the behavior is correct. It functions like the `||` operator.

[2015-02-10 06:19] stoeffel commented on #52
@tjmehta Okay, I will create a PR to fix the jsdoc.

[2015-02-10 06:40] stoeffel commented on #53
How about `converge`

[code]

[2015-02-10 06:56] #52 closed

[2015-02-10 09:23] tomekwi commented on #53
Cool @stoeffel – does that mean the following?

[code]

[2015-02-10 09:25] tomekwi commented on #53
– or rather as per #56

[code]

[2015-02-10 10:29] stoeffel commented on #53
@tomekwi `converge` would more be like this
[code]

But you could use it in a `reduce(compose)`.
[code]

[2015-02-10 10:40] stoeffel opened #58 "composed function takes only one argument"
Currently a composed function takes only one argument:

[code]

With this implementation you can't do this:
[code]

How about we change compose to create a function which passes all arguments to the first function:

[code]

Checkout my implementation of `compose` it passes all arguments to the first function (https://github.com/stoeffel/compose-function)

[2015-02-10 22:25] stoeffel commented on #53
I can create a PR for `converge` if you guys like it :smile:

[2015-02-10 23:26] tomekwi commented on #53
I love the idea @stoeffel! The name is great as well :)

I'm just wondering about the API – if it doesn't overlap with `compose` a little, the way it now is? After all

[code]

isn't it so?

But then again, I have no other idea. `compose(mul, converge(add, sub))` is in no way doable, is it?

[2015-02-11 07:04] stoeffel commented on #53
Yes, that's true. But I think it's not a problem.

No, it isn't

Cool. I will create a PR and we can all discuss more there.

[2015-02-11 08:04] tjmehta commented on #58
I'd accept a PR for this ( passing all arguments to the first function )

[2015-02-11 08:07] stoeffel commented on #58
done :smile:

[2015-02-11 08:07] tjmehta commented on #53
I like the idea of adding converge to 101, that's exactly what @tomekwi want. Thanks @stoeffel!

[2015-02-11 08:10] #53 closed

[2015-02-11 08:16] tjmehta commented on #53
Published converge in 101@v0.10.0

[2015-02-11 08:19] tomekwi commented on #49
Well then @tjmehta , now #53 is almost ready – do we want this?

If so, we need to decide if we change `noop` or use `null` as an idiom. I'd go for changing `noop` – after all a function should always return something.

If you have second thoughts about that, we could make it another function `pass`.

[2015-02-11 08:24] tjmehta commented on #49
After thinking through keyMap it seems like all it is avoiding is the additional function wrapper around it's literal equivalent; which isn't enough to support it's existence.

I really like the literal form here
[code]
Versus
[code]
I think the latter is much harder to read.

[2015-02-11 08:31] stoeffel commented on #49
I think so too.

[2015-02-11 08:31] tjmehta commented on #5
Example:
[code]

[2015-02-11 08:34] stoeffel commented on #5
`matches` sounds nice. :+1:

[2015-02-11 08:38] tomekwi commented on #49
Cool @tjmehta @stoeffel .

How about
[code]

Just an idea

[2015-02-11 08:41] tjmehta commented on #54
Nice we'll have to make this use keypather.

[2015-02-11 08:49] tomekwi commented on #53
:+1:

[2015-02-11 08:50] stoeffel commented on #49
I would prefer `setThrough` or `setVia` over `setEach` as you suggested before.

[2015-02-12 06:54] stoeffel commented on #38
I would close this in favour of #42. I think a complete move to es6 using 6to5 or traceur would be cleaner.

[2015-02-15 04:17] tristaaan commented on #5
I have something that works nicely but waiting for #55 to be merged.

[2015-02-15 05:06] #58 closed

[2015-02-15 05:12] tjmehta commented on #5
After thinking about this more, I think matches is the same as `RegExp.prototype.test`.

[2015-02-15 05:17] tjmehta commented on #5
Further thoughts:
[code]

[2015-02-15 07:04] tjmehta commented on #5
Also, maybe this object behavior may work well as an overloaded `has-keypaths`

[2015-02-16 08:19] tjmehta commented on #42
I am still unsure about all this ES6 stuff. It seems you guys have a lot more experience that me about all the options. When you two (@tomekwi, @stoeffel) have been using using es6 I am assuming you are probably transpiling your code (for browser usage) or using node with flags.

In both of these cases, how are you importing other npm modules?

[2015-02-16 09:27] stoeffel commented on #42
I'm often using 6to5(now babel) with a pretty straightforward workflow.
I have a `.es6` next to the transpiled `.js` file. Checkout https://github.com/stoeffel/chickencurry as an example. But we could have a es6 folder with the files we are working on and transpile them into the root of the project and add the es6 folder to npmignore.

You can reguire modules like this `import foo from 'foo';`. Ch

[2015-02-16 09:57] tjmehta commented on #42
I just saw what you proposed in #62. Make sense, but I think you may have misunderstood my question.
Let me try to be more clear with what I am asking.

My main question is:
When developing an ES6 module/application is it difficult to use CommonJS modules?

I don't think I'd want to start implementing 101 in ES6 until it is widely supported (and wouldn't require transpiling to ES5). Reasons includ

[2015-02-16 10:19] stoeffel commented on #42
No you just import it.

I think then we shouldn't move to es6. But I think there is no down side to transpiling, a lot of libraries are doing it and developers are getting more and more used to it. IMHO es6 code is often easier to read. If we add a CONTRIBUTING.md contributors know where they should change things.

es6 files can be excluded from npm.

[2015-02-16 20:10] stoeffel commented on #17
In underscore.string we use browserify to build a version of it which can be consumed in requireJs or as a standalone script (with a global variable). Checkout https://github.com/epeli/underscore.string/blob/master/gulpfile.js#L22.
Maybe this approach would be a solution for 101 too.

[2015-02-16 21:13] tomekwi commented on #42
@tjmehta, what @stoeffel says is true when working with babel. All ES6 modules are simply transpiled and run as ES5 – whether in node or in the browser (via webpack or browserify). So `import foo from "foo"` becomes `var foo = require("foo")`.

But, as a matter of fact, ES6 specs say nothing about supporting CommonJS or AMD.

However: when an implementation of modules comes to node, I'm 100% sure

[2015-02-16 21:14] tomekwi commented on #42
Working with babel is pure pleasure :) But I must admit I had a hard time in a project compiled with [traceur](https://github.com/google/traceur-compiler). In order to use 101 I had to fork, "transpile" all function and watch out not to use those which pull in CommonJS modules.

So I think an ES6 version would already improve accessibility.

And after all, it's a step which will need to be taken s

[2015-02-16 21:17] tomekwi commented on #42
I'm not sure I'd do that @stoeffel. There are people who'll want to pull the ES6 version directly – for example to avoid doubling some of babel's runtime code in a webpacked package.

[2015-02-16 21:21] stoeffel commented on #42
Okay, didn't know that. Thx

[2015-02-17 09:06] stoeffel commented on #42
:100: :+1:

[2015-02-17 11:11] tomekwi commented on #54
I've created a PR for this in #63

[2015-02-17 11:12] #54 closed

[2015-02-17 11:23] tomekwi opened #64 "`set` modifies the original object"
The [readme for `set`](https://github.com/tjmehta/101#set) says:

I'd seen it as a powerful functionality which allowed me to get immutability in JS without using [an obese library][i].
[i]: https://www.npmjs.com/package/immutable "Immutable"

– until I noticed that [it's the original object that gets changed and returned](https://github.com/tjmehta/101/blob/master/set.js#L37) after all.

Is it su

[2015-02-17 11:44] tomekwi commented on #64
A PR is ready if you'd like to change the current behaviour.

I know it can break backwards-compatibility – so it might be better to first release it with 1.0.0. @tjmehta, @stoeffel – what do you think?

[2015-02-17 11:54] stoeffel commented on #64
I will review it later. I'm afk.

Tomek Wiszniewski <notifications@github.com> schrieb am Di., 17. Feb. 2015
12:44:

[2015-02-17 13:49] tomekwi commented on #64
Anyway, if we don't change the behaviour, we need to change the docs. It costed me about 3 hours of bugfixing in my project :)

[2015-02-17 14:19] stoeffel commented on #64
I'm :+1: on changing the current behaviour. PR looks good to me.

[2015-02-18 20:20] stoeffel commented on #42
@tjmehta I guess you have to decide if you want to switch or not. Clearly @tomekwi and I are pro ES6 :smile:
How about you pull #62 into a `es6` branch and tinker a bit on your own to get a feeling if you like it or not?

[2015-02-18 20:29] stoeffel commented on #36
:+1:
`flip` is also nice with `curry`

[code]

[2015-02-20 00:39] tristaaan commented on #5
After your comments (esp, "Further thoughts") I've had second thoughts about a full `matches`. I'm going to try working it in with `has-keypaths`.

[code]

[2015-02-25 04:50] tjmehta commented on #42
I am punting on this for now. I know ES6 traction is picking up fast. Let's revisit this idea after a few months. Long answer here: https://github.com/tjmehta/101/pull/62

[2015-02-25 04:51] tjmehta commented on #38
I am punting on this for now. I know ES6 traction is picking up fast. Let's revisit this idea after a few months. Long answer here: https://github.com/tjmehta/101/pull/62

[2015-02-25 04:51] #38 closed

[2015-02-25 07:05] stoeffel commented on #38
Sure will do :smile_cat:

[2015-03-18 19:57] #64 closed

[2015-03-21 01:55] tjmehta opened #73 "proposal: indexBy"
Should it work with reduce?
[code]
Note: It requires an initial value which makes it a less "plug and play".

Or just

[code]

[2015-03-21 02:33] tjmehta commented on #73
@stoeffel @tomekwi @bkendall @podviaznikov thoughts?

[2015-03-21 02:35] tjmehta opened #74 "groupBy"
Should it work with reduce?
[code]
Note: It requires an initial value which makes it a less "plug and play".

Or just

[code]

[2015-03-21 02:35] tjmehta commented on #74
@stoeffel @tomekwi @bkendall @podviaznikov thoughts?

[2015-03-21 02:40] podviaznikov commented on #74
I like `groupBy(arr, 'foo')`. It just shorter (minus `.reduce` and `{}`).
Akso I personally like functions that accept everything they need as parameters.

[2015-03-21 02:41] tjmehta commented on #73
ooh maybe it should take a function:
[code]

[2015-03-21 02:42] tjmehta commented on #74
ooh maybe it should take a function:
[code]

[2015-03-21 07:52] stoeffel commented on #74
+1 for taking a function.

[2015-03-21 08:55] stoeffel commented on #73
+1 for taking a function.
I think both `indexBy` and `groupBy` should take a function.

[2015-03-21 20:34] tjmehta commented on #74
do these helpers belong in 101?

[2015-03-23 07:17] tomekwi commented on #73
Great idea for a function!

My favorite.

I guess it's ok for a reduce function to take an initial value. I use it almost every time I use reduce anyway – the results are much more predictable.

[2015-03-23 07:33] tomekwi commented on #74
@podviaznikov I like the reduce variant, because it's easier to understand.

`groupBy` and `indexBy` are quite high-level functions anyway. But I guess these are things we often need, and end up writing over and over again. So good fit for a swiss army knife such as 101.

[2015-03-23 08:41] tjmehta opened #75 "bug: defaults should use exists"
https://github.com/tjmehta/101/blob/master/defaults.js#L26

[2015-03-23 09:00] tjmehta commented on #74
The initial value can be avoided it we accept that `[ ].reduce(groupBy('foo'));` will throw an error.

[2015-03-23 09:49] tomekwi commented on #74
No initial value generally behaves in a cunning unexpected way:

[code]

[2015-03-23 17:43] tjmehta commented on #74
@tomekwi you can have a special case for index 0

[].reduce(function (a, b, index, arr) {});

[2015-03-23 18:06] tomekwi commented on #74
Yeah, good idea. But I wonder what developers would expect of `[{}, {a: 1}, {a: 2}].reduce(groupBy('a'))` though – knowing how reduce works. Myself, I guess I'd pass the second argument to make it explicit anyway.

And you can't override this – can you:
[code]

[2015-03-23 21:44] tjmehta opened #76 "feature: last should allow set"
`last(arr, key, val)`

[2015-03-25 04:29] #75 closed

[2015-04-01 06:55] tjmehta opened #81 "curry should not pass more args than specified"
[code]

[2015-04-01 06:55] tjmehta commented on #81
@stoeffel I know this is not the main purpose of curry, but can curry be used to do the above?

[2015-04-05 10:32] stoeffel commented on #81
Currently not, but I'm not against changing the current behaviour to _not pass more args than specified_.

[2015-04-09 04:57] stoeffel commented on #81
I will create a PR next weekend to change this.

[2015-04-09 18:09] tjmehta commented on #81
Nice, yah I am overdue on some PRs on this going to handle them this wkend. Just finished up a project I've been working on so I should have time.

[2015-04-09 18:15] stoeffel commented on #36
I will create a PR for this too this weekend. If it's okay with you guys?

[2015-04-09 18:40] tomekwi commented on #36
:+1:

[2015-04-09 18:42] tjmehta commented on #36
:+1:

[2015-04-11 12:27] stoeffel commented on #76
I would prefer to keep `last` simple.

You could use `lens` for that.

[code]

Or a new function `setLast`?

[2015-04-12 07:49] stoeffel opened #88 "tail"
With #87 101 will have a `first` function which often comes with a `tail` function.

[code]

:sunflower:

[2015-04-12 19:18] #81 closed

[2015-04-12 19:20] #36 closed

[2015-04-12 19:21] tjmehta commented on #88
This should be able to be accomplished very easily by slice. `stringOrArr.slice(1)`

[2015-04-12 19:34] stoeffel commented on #88
But it's usefull with `compose`.

[2015-04-12 20:07] tjmehta commented on #88
I see, I thought that may be the purpose. I have been thinking about a solution in another context that may solve your problem. What I have come up with so far is that 101 may need an `invoke` util.

Example usage:
[code]

I have been thinking about adding this type of functionality to pluck (as keypather supports function invocation). Keypather's api for function invocation is good for methods th

[2015-04-12 20:18] stoeffel commented on #88
+1.

Will think about this more next week have to go to bed :smile:

[2015-04-13 17:48] stoeffel commented on #88
I like the idea of invoke. But I still think that tail (and first) are so essential to fp that they deserve to be a own function. And we have other small functions like `and` and `or` and they too are useful functions.

[2015-04-15 10:51] albertorestifo opened #91 "proposal: bindAll"
Yes, yes, the native `Function.prototype.bind` method is solid, but there are situations where the Underscore `bindAll` method is just what you need.

I propose to extract the bindAll method from the Underscore library, remove the support for when the ES5 `bind` is not available and call it a day.

If there is enough interest, I can create a PR

[2015-04-16 23:46] tjmehta commented on #91
@albertorestifo I really love `bindAll` I use it in a ton of projects when class instances have event handlers that need to be added and eventually removed.

This would be the first function that is tuned for a specific use case (IMO it is similar to `indexBy` and `groupBy` which have yet to be added).

@bkendall @podvianikov @stoeffel what are your thoughts about adding util methods like these to

[2015-04-17 05:18] stoeffel commented on #91
SGTM. It is a function I see myself using a lot too.

[2015-04-17 05:23] stoeffel opened #92 "Publishing functions as single modules"
First, I know this is against one of the philosophies of 101. But as the library grows it would sometimes be nice if one could install only what he needs. i.e `npm i 101-curry`. We could create a cli-tool to publish only changed function and keep developing 101 in one repo.
What are your thoughts on this?

[2015-04-17 07:52] albertorestifo commented on #91
Ok, I will make a PR. Just one thing, do we want the LoDash or Underscore one?

The only difference is that LoDash can bind to every method in the object if you don't specify them. I feel this will make easier to create abuses.

[2015-04-17 08:32] tjmehta commented on #91
IMO It should bind all keys that are functions and you can provide a filter optionally by array of key names or if you think users want more flexibility accept a function that can act as a filter

—@tjmehta
Typed using my thumbs..

On Fri, Apr 17, 2015 at 12:52 AM, Alberto Restifo
<notifications@github.com> wrote:

[2015-04-17 14:07] albertorestifo commented on #91
I'm working on a Pull Request

[2015-04-17 14:32] albertorestifo commented on #91
I encountered a problem:

Getting the array of keys of an `Object.prototype` is not as straight-forward as I expected. I would need to do so in order to implement the `bindAll` call without any method specified.

Lodash solution can be seen here: https://github.com/lodash/lodash/blob/master/lodash.js#L9538

Should I also add a `keys` module?

[2015-04-19 17:08] #91 closed

[2015-04-19 18:53] tjmehta opened #96 "Keep a Changelog"
Maybe we can use this out to start (for the versions we've missed):

https://github.com/lalitkapoor/github-changes

[2015-04-26 00:41] tjmehta opened #97 "Defaults should support nested objects"

[2015-05-19 21:37] stoeffel commented on #96
Actually, I don't think there is a need for an auto generated changelog. We can just start fresh with the next version and highlight special (important) changes. If someone wants to see the commit history he already can.

[2015-05-19 21:46] cflynn07 commented on #96
I agree, just start fresh with a changelog for future changes

[2015-05-25 00:15] #97 closed

[2015-05-25 00:38] tjmehta commented on #73
fixed in #99

[2015-05-25 00:38] #73 closed

[2015-05-25 00:40] tjmehta commented on #92
I think 101 is an acceptable size at the moment, but let's definitely revisit this topic in the future.

[2015-05-25 00:40] #92 closed

[2015-05-25 00:43] tjmehta commented on #17
Closing this for now, bc original author is satisfied without this feature. Also, noone else has requested this.

[2015-05-25 00:43] #17 closed

[2015-07-01 05:50] tjmehta opened #103 "add unique"
to get unique values in an array
1) make it work with `arr.reduce`
2) maybe accept an an optional `equals` arg?

[2015-07-01 21:28] bkendall commented on #103
thoughts:

- wouldn’t this be very similar (functionally) to a `set`?
- I know we probably don’t want to add a entire new data type, but if something like that already exists, don’t need to re-make
- `unique` would be a good name. alias to `deduplicate`/`dedupe`?
- also like that it would take a function: becomes an awesome `Array.filter`

[2015-07-01 21:59] tjmehta commented on #103
Nice we should make it work with `Array.prototype.filter` versus `Array.prototype.reduce`

—
@tjmehta

On Wed, Jul 1, 2015 at 2:28 PM, Bryan Kendall <notifications@github.com>
wrote:

[2015-07-05 06:03] tjmehta opened #104 "Put should support keypaths (and work like set)"
`put(obj, 'foo.bar.qux', true)`

[2015-07-06 16:43] cflynn07 commented on #104
Would this basically be a wrapped function call to keypather.set?

[2015-07-06 20:26] tjmehta commented on #104
Yup

—@tjmehta
Typed using my thumbs..

On Mon, Jul 6, 2015 at 9:43 AM, Casey Flynn <notifications@github.com>
wrote:

[2015-07-06 20:26] tjmehta commented on #104
Clone and set

—@tjmehta
Typed using my thumbs..

On Mon, Jul 6, 2015 at 1:26 PM, Tejesh Mehta <tejesh.mehta@gmail.com>
wrote:

[2015-07-23 05:15] tjmehta opened #105 "SortBy"
Are.sort(sortBy('key.path')) or arr.sort(sortBy('-key.path'))

[2015-07-23 05:43] stoeffel commented on #105
The `-` looks a little to magic for my taste. How about adding a second argument for the direction?
And maybe `sortByKey` would be a more expressive name?

[2015-07-23 07:03] tjmehta commented on #105
Good points. I'm with you on the first argument. Maybe it should take a mapping function, ex: it could be used in conjunction with pluck.

—
@tjmehta

On Wed, Jul 22, 2015 at 10:43 PM, Christoph Hermann
<notifications@github.com> wrote:

[2015-07-23 07:05] tjmehta commented on #105
Although that becomes a lot of nested functions... Will have to think about this one..

—
@tjmehta

On Wed, Jul 22, 2015 at 10:43 PM, Christoph Hermann
<notifications@github.com> wrote:

[2015-09-15 19:54] #104 closed

[2015-10-08 07:14] tjmehta opened #108 "consider adding list remove util"

[2015-10-08 07:47] tjmehta commented on #108
use array.filter

[2015-10-08 07:47] #108 closed

[2015-10-08 07:54] tjmehta opened #109 "add includes"
[code]

[2015-10-08 07:54] tjmehta commented on #109
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/includes

[2015-10-08 19:39] bkendall commented on #109
Interesting. Definitely something I would find useful, but how is it functionally different than `!!find(arr, hasProps)` or using `!!find(arr, equals)`? Would this just be a nice wrapper around that?

[2015-10-08 22:06] tjmehta commented on #109
it is equivalent to `!find(arr, equals)` but not `!find(arr, hasProps)`

but you avoid an additional lambda

[code]

[2015-10-14 20:27] mshick opened #113 "breaks npm v3.3.5/3.3.6 outdated cmd when listed as a devDependency in package.json"
Pretty crazy issue. My `npm outdated` started failing... After some tracing I noticed that `101` causes a weird run in the dependency array built in the npm `outdated` utility. I'm guessing this is a npm bug related to the numeric module name (tests with "202" and "2" showed the same result).

Documenting here, in case you want to raise an issue with the npm team. A brief search makes me think thi

[2015-10-14 20:30] tjmehta commented on #113
Interesting, will check it out and followup with npm tonight.

Thanks!

[2015-10-15 22:26] tjmehta opened #114 "allow index-by to take a `map` function for values"
[code]

[2015-10-15 22:36] tjmehta commented on #114
using reduce alone is a clearer solution:

[code]

[2015-10-19 18:46] mshick commented on #113
@tjmehta any word? Curious if you have the same results...

[2015-10-22 17:45] bkendall commented on #113
I confirmed this this morning. Looks like it was possibly introduced with `npm@3.0.0`

[code]

[code]

[code]

A [gist of the npm@3.3.8](https://gist.github.com/bkendall/367687dca1e4d64f7705) is available

[2015-10-22 17:53] mshick commented on #113
@bkendall thanks for the confirmation.

I'll open an issue at npm.

[2015-10-22 18:14] tjmehta commented on #113
@mshick sorry for the delay, thanks for the hand @bkendall

[2015-11-09 23:48] tjmehta opened #115 "util request: isInteger"

[2015-11-11 05:36] tjmehta commented on #42
Reopening this for discussion.
Circumstances have changed with node4 supporting many ES6 features.
Keep in mind, browser support for ES6 is still quite fragmented.
Any ideas on how we can transition to support ES6 features?

[2015-11-11 05:55] bkendall commented on #42
Babel?

On Tue, Nov 10, 2015 at 9:36 PM, Tejesh Mehta <notifications@github.com>
wrote:

--
-----------
Bryan Kendall

[2015-11-13 07:43] #115 closed

[2015-12-10 22:50] #114 closed

[2015-12-10 22:50] #109 closed

[2015-12-10 22:51] tjmehta commented on #114
101@v1.2.0

[2015-12-11 23:19] tjmehta opened #119 "Add `remove`"
[code]

[2015-12-11 23:29] bkendall commented on #119
optional `limit` parameter?

[code]

[2015-12-11 23:43] cflynn07 commented on #119
+1 for limit parameter

[2015-12-11 23:46] cflynn07 commented on #119
How would you syntactically handle removing a function from any array of functions.
[code]

[2015-12-12 00:53] tjmehta commented on #119
Nice feedback 😃

[2015-12-12 09:30] tjmehta opened #120 "better error message for clone errors"
methods that use `clone` can cause it to throw errors.
these error message are not developer friendly (stack traces pointing to `clone` code)
throw more better errors in these scenarios so that the error can be trace to the 101 method being used.

[2015-12-12 09:34] tjmehta opened #121 "omit perf"
`omit` currently `clone`s the source object and then deletes "omitted" properties from the copy.
In the scenario that omitted properties are very large, clone is unnecessarily copying a large amount of data and immediately `deleting` it.

Reimplement `omit` to avoid copying "omitted" properties.

[2015-12-16 21:57] cflynn07 opened #122 "101/defaults should either mutate the `target` argument or clone and return an extended object, not both"
101/defaults currently both mutates it's `target` argument and returns the mutated `target` argument. This isn't shown in the documentation. https://github.com/tjmehta/101#defaults

It should either:
1. clone `target`, extend `target`, and return `target`
or
2. extend `target` and return undefined (or maybe return a boolean indicating if defaults were applied or not)

Mutating the argument and ret

[2015-12-16 22:47] bkendall commented on #122
Why do you think an implantation change here is required? Is there a documented best practice you're referencing? I honestly don't see any problem with both mutating the target and returning said target - it's the most flexible. If the problem is documentation, we should expand the documentation to be more clear.

An interesting problem is that if you change the behavior to _not_ return anything,

[2015-12-16 23:02] cflynn07 commented on #122
I would say my primary issue is the ambiguous documentation of `defaults` behavior. The existing documentation doesn't indicate clearly if `defaults` returns or mutates or both.

Second, mutating and returning is redundant. If we're going to mutate, why return? We could use the return value to indicate something else.

If we change the return value that could be tagged as a new major version.

[2015-12-16 23:04] cflynn07 commented on #122
[code]

Lets not break that functionality. I propose we return a clone, and not mutate the original.

[2015-12-17 01:10] tjmehta commented on #122
Nice thoughts here.
I have a few thoughts on this myself:

Immutability:
Immutable utils are becoming very popular in the JS community as a result of React. The current implementation of defaults is not immutable. There are pros and cons w/ creating immutable utils. It is definitely less flexible (bc a clone would be built into the method, like `put` vs `set`). However, if the mainstream use case

[2015-12-17 22:06] cflynn07 commented on #122
Good thoughts on the state of mutability/immutability in common libraries in the nodejs ecosystem. I'll try to improve the defaults documentation and get that to you in a PR

[2015-12-30 19:56] cflynn07 commented on #42
@tjmehta using babel presets, such as `es2015` should make it easier to write features in ES6. Anything you write in ES6 would be transformed to browser compliant JS. As browsers add support for ES6 features, new presets will be created. You can swap which preset you use with babel to get the latest ES6 supported features.

http://babeljs.io/docs/plugins/preset-es2015/

[2015-12-30 20:17] tjmehta commented on #42
I am thinking about making a breaking change to 101 in early 2016 to assume es6 as the widely supported JavaScript.

Optimally I would like to support es5 and es6, but only use transpiled code for es5 environments.

Typed using my thumbs..

[2016-02-13 08:08] tjmehta opened #127 "pick: use `"key" in obj` instead of exists"
[code]

[2016-02-13 08:28] tjmehta commented on #127
fixed 101@1.3.1

[2016-02-13 08:28] #127 closed

[2016-02-23 02:31] #122 closed

[2016-02-23 02:32] tjmehta opened #129 "allow pick to work w/ more than strict objects"

[2016-03-05 22:39] tjmehta opened #131 "add keypath support to `defaults`"
[code]

[2016-04-27 01:20] thejsj opened #133 "Infinite Compose"
It's be awesome if `compose` took an unlimited amount of arguments. Is there a reason this is not the case? (Could help out with a PR if no one objects) @tjmehta

[code]

[2016-04-27 02:38] tjmehta commented on #133
So far I've designed methods like 'compose' to work with two args so that they work with 'Array.reduce'. I am not opposed to making it work with infinite args, however I would like it to continue working with 'reduce'. If 'reduce' works for you for now, let's close this off. If someone submits a PR that makes it work both ways I will accept it.

[2016-06-05 01:05] #121 closed

[2016-06-05 01:05] #133 closed

[2016-06-05 01:06] #129 closed

[2016-06-05 01:06] #113 closed

[2016-06-05 01:07] #88 closed

[2016-06-05 01:11] tjmehta opened #134 "replace object-assign w/ 101/assign"
[code]

[2016-06-05 01:18] tjmehta commented on #134
Signature could match other array methods `find` and `findIndex`..
// values
replace(['a','a','a'], 'a', 'b') // ['b','b','b']
// functions
replace(['a','a','a'], equals('a'), returnVal('b')) // ['b','b','b']

[2016-06-16 02:21] tjmehta opened #136 "support bindAll(obj, filterFn)"
[code]

[2016-06-22 06:18] tjmehta commented on #136
and also regexp:
bindAll(obj, /^handler/)

requires `101/matches`

[2016-07-17 02:47] tjmehta opened #137 "put: bug w/ keypaths"
`put({ foo: { qux: 1 } }, 'foo.bar', true)`

[2016-07-17 21:39] tjmehta commented on #137
fixed `101@v1.6.1`

[2016-07-23 16:26] rstacruz opened #139 "Request: get()"
It would be nice to have a `get()` as a foil to `put()`.

[code]

[2016-07-23 18:53] tjmehta commented on #139
Agreed! Do you prefer keypaths as arrays? 101 uses npmrepo.com/keypather to breakdown string keypaths

Typed using my thumbs..

[2016-07-23 22:43] tjmehta commented on #139
Just realized get functionality is available as '101/pluck'

[2016-07-24 09:29] rstacruz commented on #139
Oh. Oops! Nice one

On Sun, Jul 24, 2016, 6:43 AM Tejesh Mehta <notifications@github.com> wrote:

[2016-08-03 04:31] tjmehta opened #140 "set: bug w/ keypaths"
`set({ foo: { qux: 1 } }, 'foo.bar', true)`

[2016-08-19 14:34] rstacruz opened #141 "Array keypaths"
It'd be nice to skip the string.split('.') and just allow array keypaths:

    put(obj, ['user', 'name'], 'tjmenha')

What do you think?

[2016-08-19 14:37] rstacruz opened #142 "Consider implementing map, for each, and reduce"
I know it goes against what 101 stands for, but this will be tremendously useful. I'd like to ditch lodash, but I still use it for _.each.

There is no Object.prototype.map (or foreach or reduce). Same with 'arguments'. A generic implementation that accounts for both arrays and objects will be useful for web apps using React (or other react-alikes).

[2016-08-19 14:38] rstacruz commented on #142
I'm open to help, if you'd welcome a pull request I can work on it!

[2016-08-19 21:07] tjmehta commented on #142
Quick reply: checkout [object-loops](https://npmrepo.com/object-loops)

Does that satisfy your needs?

Typed using my thumbs..

[2016-08-19 21:12] rstacruz commented on #142
Yes, exactly what I'm after!

On Sat, Aug 20, 2016, 5:07 AM Tejesh Mehta <notifications@github.com> wrote:

[2016-08-20 05:06] tjmehta commented on #139
May need to add a note in docs about this. But closing this issue

[2016-08-20 05:06] #139 closed

[2016-08-20 05:07] #137 closed

[2016-08-20 06:06] tjmehta opened #143 "filtered pluck?"
to support something like `uniquePluck`

[2016-08-21 22:59] tjmehta opened #144 "isNumber, put isNaN check on end"
isNaN throws errors sometimes for objects
"Cannot convert object to primitive value"

[2016-08-25 01:46] rstacruz opened #146 "del() vs omit()"
It seems they're functionally equivalent. Am I missing something? It might be worth documenting how they're different :)

[2016-08-25 01:59] rstacruz opened #147 "CONTRIBUTING.md"
I'd like to know how I can contribute additional functions.

Do I just create a new module?
What about updating the readme—is that automatically extracted from module docs?

(Specifically, I'd love a `101/reverse` as an immutable version of Array.prototype.reverse :))

[2016-08-25 01:59] rstacruz commented on #147
Btw: http://ricostacruz.com/til/my-immutable-toolkit :)

[2016-08-25 02:48] tjmehta commented on #147
I would suggest creating an issue for quick discussion, and then PRing it. Sorry for not having a `CONTRIBUTING.md` :(. Everything is done manually right now. So you'll just have to modify the readme w/ docs for w.e you ad.

Random side note:
I want to add an index to the readme like in object-loops. Also, I definitely want to have the readme index sectioned by immutable methods. In a future break

[2016-08-25 02:52] tjmehta commented on #147
In general, map utils fit in great w/ 101. There are typically, more in-depth discussions for more complex utils. Same goes w/ any utils that can be created by a composition. I know you're really active w/ OSS (We've chatted a few times and I've seen you're github activity), so I would love to have a smart person like you help me make these decisions.

[2016-08-25 03:23] rstacruz commented on #147
:-1: on this: it gives the impression that there are non-immutable methods in 101, which there shouldn't be!

[2016-08-25 05:38] tjmehta commented on #146
This is why I want to rename immutable helpers to be exactly what they are.

Omit is immutable-delete :)

[2016-08-25 05:55] rstacruz commented on #146
Lol. Holy crap, had no idea del was mutable. BRB fixing bugs I didn't know
about

On Thu, Aug 25, 2016, 1:38 PM Tejesh Mehta <notifications@github.com> wrote:

[2016-08-25 05:56] rstacruz commented on #146
For the record, what mutable functions are there in 101?

On Thu, Aug 25, 2016, 1:54 PM Rico Notifications <
notifications@ricostacruz.com> wrote:

[2016-08-25 05:57] rstacruz commented on #146
Also, if immutable is the norm in 101, it might be better to mark the
mutable ones instead.

On Thu, Aug 25, 2016, 1:55 PM Rico Notifications <
notifications@ricostacruz.com> wrote:

[2016-08-25 06:15] tjmehta commented on #146
put, omit, and technically pluck (unless plucking to an object, which would not be a copy of that object)

[2016-08-25 06:16] tjmehta commented on #146
put and omit are labelled as immutable. Definitely why I want to create an index in the readme and rename things. I've been waiting for a major update to do this. Thinking about what do w/ es6 methods would be good to avoid double major bumps in close proximity (that or deprecate via warning.. not sure yet).

[2016-08-25 06:17] tjmehta commented on #144
fixed 101@1.6.2

[2016-08-25 06:17] #144 closed

[2016-08-25 06:20] tjmehta commented on #141
All the keypath stuff is powered by [keypather](https://npmrepo.com/keypather). It would be fine adding the functionality there, but adding this functionality in 101 complicates partial method arg checking..

Will have to think about this. I've seen this request before w/ `keypather`, but I always thought it was trivial to just use `join('.')`.. `put(obj, ['user', 'name'].join('.'), 'tjmehta')`

[2016-08-25 06:22] tjmehta commented on #147
could prepend all mutable methods instead `mutable-`

[2016-08-25 06:24] tjmehta commented on #74
added a while ago..
101@1.6.0

[2016-08-25 06:24] #74 closed

[2016-08-25 06:26] tjmehta opened #149 "Index in docs"
Add an index at the top of the docs w/ links to util examples

[2016-08-25 06:28] tjmehta opened #150 "2.0.0"
es6 utils removal or deprecations?

rename mutable methods to `mutable-`
rename `put` and `omit` to `set` and `delete/del`

[2016-08-25 06:29] tjmehta commented on #146
created a "2.0.0" issue to discuss the mutable/immutable issue and "index" issue to discuss documentation updates. Closing this.

[2016-08-25 06:29] #146 closed

[2016-08-25 06:30] tjmehta commented on #42
moving es6 convo to #150

[2016-08-25 06:30] #42 closed

[2016-08-25 06:32] rstacruz commented on #150
Another suggestion would be to have a `101/mut/` namespace for mutable functions. This makes it easier to spot which are immutable, and allows you to use the same names for immutable and mutable versions.

[code]

[2016-08-25 06:32] tjmehta commented on #143
this may be a better composition:

`unique([{foo:1}, {foo:1}, {foo:2}].map(pluck('foo')))`

[2016-08-25 06:32] #143 closed

[2016-08-25 06:37] rstacruz commented on #150
On the README, it'd be nice to have pointers to what is *not* implemented (eg, deprecations). So something like:

[2016-08-25 06:49] rstacruz commented on #150
Re: ES6 transpilation (#42): I'd like to avoid build steps if it's avoidable. 101 is about small micro-utilities. Writing in ES6 syntax isn't going to give any significant productivity boost, nor will it make 101 more useful in any way.

[2016-08-25 21:24] srph opened #151 "Deep `put`"
Currently `put` [immutably] only sets the value to the object path. I was wondering if it would be possible to merge the new object to the current.

#### Sample Data
[code]

#### Current

[code]

#### Suggestion:

[code]

Maybe we could have a new method (named `update`) instead of updating the functionality of `put`?

Let me know if I missed out anything. Thanks!

[2016-08-25 22:45] tjmehta commented on #151
Quick reply for now. I recently fixed a bug with put. I think the example you provided should work as expected with the latest version of 101.

Try it out and see if the problem remains:

'npm i --save 101@latest'

Lmk,
Typed using my thumbs..

[2016-08-26 03:28] srph commented on #151
Yea, I'm using the latest version. It doesn't seem to be fixed 😕  ([Demo](https://tonicdev.com/srph/101)).

For clarification, the end result (to the json mentioned previously) should be:

[code]

I checked the tests, and didn't find any test about this scenario.

[2016-08-26 03:59] tjmehta commented on #151
I see what you are saying now. Sorry, looked at that too quick on my phone.
Let me think about this a bit. Would `keypather.flatten` be sufficient for your needs:

[code]

[2016-08-26 19:15] srph commented on #151
Yea. But to simplify even more, I was wondering if we could achieve the ff:

[code]

Similar to `put but merges the object.

[2016-08-26 21:14] tjmehta commented on #151
Could we extend '101/assign'?

[2016-08-26 21:14] tjmehta commented on #151
Assign current only supports a depth of 1

[2016-08-26 21:15] tjmehta commented on #151
And doesn't support keypaths

[2016-08-27 05:26] srph commented on #151
I think we could do that, but I think it could complicate `assign` in both functionality and API. IMO, I would prefer a new function like `update` :D.

[2016-08-27 05:36] tjmehta commented on #151
The plan for assign is to possibly deprecate it in v2.0.0.

Actually to get this in before then how about '101/extend'. I am traveling this week, but happy to take a PR.

Typed using my thumbs..

[2016-08-27 06:25] srph commented on #151
Oh, how about we name it `merge`? `_.merge` is like `_.assign` but recursively merges the object.

[2016-08-27 10:25] tjmehta commented on #151
👍

Typed using my thumbs..

[2017-04-13 09:58] srph opened #153 ""Push" method"
Maybe we could have an immutable push (and unshift?) method.

## Before
[code]

## After
[code]

-----

I've been using `101` recently in my newer projects, and I've been meaning to have something like this.

Not sure if it's "bloat", but let me know what you think. I can send a PR if you think this sounds good.

[2017-04-16 22:56] tjmehta commented on #153
I was thinking of creating an invoke method that may satisfy your needs:

invoke(state, 'data.push', action.payload)

Although that would not me an immutable helper. We may be able to create an immutable invoke as well. I've been wanting to reorganize 101 into pairs of helper (immutable and not).

Let me know your thoughts

[2017-04-25 01:41] srph commented on #153
`invoke` sounds cool. I'm not sure how to name it, but I presume that people won't use both immutable and mutable invoke at the same time, so maybe we could do:

[code]

[2018-12-24 02:53] dolsem commented on #133
@tjmehta I'm a bit confused, in your reply you said that you'd be willing to look at a PR, but more than a year before you wrote that you declined #56, which seems to make it work both ways. So is this functionality welcome or not?

[2019-01-12 09:40] tjmehta commented on #133
TBH a year later, I probably didn't remember somebody already tried to add this, and I don't feel strongly about either way..

[2019-01-12 09:40] tjmehta commented on #133
Maybe I thought since two ppl had suggested the same thing it was worth revisiting the idea 🤷‍♂️

[2021-03-24 18:02] danielelkabes opened #157 "Contact"
Hi team,

I've tried to contact you in mail but there was no response, can you please contact me ?

daniel.elkabes@whitesourcesoftware.com

Thanks,

[2021-04-07 03:43] JF0001 opened #158 "How to properly uninstall 101@1.6.3 package"
I have installed node-gyp globally in order to install scrypt. While installing the node-gyp package, the 101@1.6.3 package was installed along with it. Realising that I did not need the node-gyp and scrypt packages, I have tried to remove the 101@1.6.3 package, but sudo npm uninstall does not remove it. How can I properly uninstall this packages?

Thank you. J

[2021-04-07 19:15] JF0001 commented on #158
Hi, any comments on this. Thank you.

[2021-05-03 18:03] huntr-helper opened #159 "🚨 Potential Violation of Secure Design Principles (CWE-657)"
👋 Hello, @tjmehta - a potential high severity Violation of Secure Design Principles (CWE-657) vulnerability in your repository has been disclosed to us.

#### Next Steps

1️⃣  Visit **https://huntr.dev/bounties/1-other-tjmehta/101** for more advisory information.

2️⃣  **[Sign-up](https://huntr.dev/)** to validate or speak to the researcher for more assistance.

3️⃣ Propose a patch or outsource it

[2021-06-16 22:19] OmgImAlexis commented on #159
@huntr-helper is there a PR to fix this?

[2021-06-17 08:26] JamieSlome commented on #159
@OmgImAlexis - not yet!

[2021-07-01 09:22] JamieSlome commented on #159
Do we have any updates on this?

[2021-07-19 17:08] skarred14 commented on #159
Any updates here?

This CVE is currently blocking our CI/CD: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-25943

[2021-09-08 15:16] adlawren commented on #159
Just wondering, are there any updates concerning this CVE?

[2021-09-12 21:39] blindhacker99 commented on #159
Looks like whitesource already assigned CVE for this issue but I reported this vulnerability earlier then whitesource and I was waiting for the issue to be resolved but looks like nowdays it vendors don't wait for the issue to be resolved :(

[2021-09-14 06:03] OmgImAlexis commented on #159
@huntr-helper it's been way longer than 14 days. Still no PR. 😕

[2021-09-27 06:34] OmgImAlexis commented on #159
@huntr-helper are you going to open a PR for this? Is there anything we can do to help?

[2021-09-27 07:51] JamieSlome commented on #159
@OmgImAlexis - it looks like no fixes have been submitted via our community.

I might recommend reaching out to @blindhacker99, who disclosed via our platform to see if they have any thoughts.

[2021-09-27 07:52] OmgImAlexis commented on #159
@JamieSlome might be worth removing this line from your issues then.

[2021-09-27 07:54] JamieSlome commented on #159
@OmgImAlexis - this template has been entirely adjusted and does not follow this format anymore.

Thanks!

[2021-10-02 13:15] blindhacker99 commented on #159
Just a FYI there's a open PR is already there for keypather which also utilises the vulnerable set() method from 101. The maintainer hasn't merged the PR yet, looks he is not interested. Since keypather also utilises the vulnerable set() method from 101 so fixing it here would be effective fix.
@OmgImAlexis you can open a PR by replicating the same fix which is applied here. -https://github.com/tj

[2021-12-20 01:02] tjmehta commented on #158
maybe ask on stack overflow about `npm`?

[2021-12-20 01:02] #158 closed, assigned to nobody

[2021-12-20 01:03] #157 closed, assigned to nobody